
.container{
    display: flex;
    justify-content: center;
}

.intro {
    margin: 1em;   
}

.intro p {
    max-width: 300px;

}


.intro h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
}


.left-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    height: 100vh;
    width: 50%;
    color: white;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgba(0, 0, 0, 0.25);
}


.right-container{
    width: 50%;
    height: 100vh;
    background: url(../assets/bg2.png);
    background-size:cover;
    max-width: 50%;
    
    
}


.image-background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}